.App {
  text-align: center;
  background: linear-gradient(to top, #000001, #1d1d1d);
  background-size: cover;
  color: inherit;

}

.App-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Target your scrollable element */
.scrollable {
  width: 300px;
  height: 200px;
  overflow-y: scroll;

  /* Firefox */
  scrollbar-width: auto;               /* thin, auto, none */
  scrollbar-color: rgb(0, 255, 0) #111; /* thumb color | track color */
}

/* WebKit browsers (Chrome, Safari, Edge) */
/* Width of the entire scrollbar */
.scrollable::-webkit-scrollbar {
  width: 20px;
}

/* Track background */
.scrollable::-webkit-scrollbar-track {
  background: #111;
}

/* Scrollbar thumb */
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 0);
  border-radius: 6px;
  border: 3px solid rgb(0, 255, 0);
}

/* On hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #09ff00;
}

