.menu-btn {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1001;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
  
.side-menu {
    position: fixed;
    top: 0;
    right: -25%;
    width: 20%;
    height: 100%;
    background-color: #111;
    padding-top: 60px;
    transition: right 0.3s ease;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    overflow-y: auto;   
    overflow-x: hidden;     
}

.side-menu.open {
    right: 0; 
}

.side-menu a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.side-menu a:hover {
    color: lime;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    z-index: 999;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.search-menu-btn {
    position: fixed;
    top: 20px;
    right: 100px;
    z-index: 1001;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-icons { 
    display: absolute;
    font-size: inherit;
    color: inherit;
    transition: color 0.3s ease;
}

.material-icons:hover { 
    color: lime;
}

.menu-content {
    flex-grow: 1;
    padding: 0 10px;
    overflow-y: auto; 
}


.dropdown-links {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    max-height: 0;        
    overflow: hidden;
    transition: max-height 0.5s ease; 
}

.dropdown-links.open {
    max-height: 1000px;   
}
